@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');
body {
  background: black;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
  font-size: 25px;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
}

p {
  font_size: 20px;
  text-align: left;
}
